html{
  background-color: rgb(115, 223, 105);
}
img{
  max-height: 300px;
  border: 4px inset black;
}
h1{
  text-decoration: underline;
  color: rgb(47, 63, 109);
}
h2{
  color: rgb(47, 63, 109);
  font-style: oblique;
}  